 .jd{
     height: 480px;
     /* background-color: pink; */
     position: relative;
 }
 .jd-inner{
    height: 480px;
    /* background-color: blueviolet; */
    position: relative;
    z-index: 1;
 }
 .ad{
     height: 480px;
     background: url(../images/bg.png) no-repeat top center;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 0;
 }
 .ad a{
     display: block;
     width: 100%;
     height: 100%;
 }
 .jd-clo1{
    width: 190px;
    height: 475px;
    background-color: #6e6568;
    float: left;
    padding-top: 5px;
 }
 .jd-clo1 li{
     padding-left: 10px;
     height: 26px;
     line-height: 26px;
   
 }
 .jd-clo1 li:hover{
    background-color: #999395;
 }
 .jd-clo1 li a{
   font-size: 14px;
   color: #fff;
}
.jd-clo1 li span{
    font-size: 12px;
    color: #fff;
 }
 .jd-clo2{
    width: 790px;
    height: 480px;
    /* background-color: purple; */
    float: left;
    margin-left: 10px;
 }
 .jd-clo2-hd{
    height: 340px;
    margin-bottom: 10px;
    /* background-color: black; */
    position: relative;
 }
 .jd-clo2-bd div{
   height: 130px;
   width: 390px;
   float: left;
 }
 .jd-clo2-bd div img{
    width: 100%;
 }
 .first_pic{
   margin-right: 10px;
 }
 .arr_left, .arr_right{
   position: absolute;
   top: 50%;
   margin-top: -30px;
   width: 30px;
   height: 30px;
   background: rgba(0,0,0,0.3);
   color: #fff;
   text-align: center;
   line-height: 30px;
   font-size: 25px;
 }
 .arr_left{
    left:0;
 }
 .arr_right{
   right:0;
}
.jd-clo2-hd ol{
   position: absolute;
   bottom: 20px;
   left: 50%;
   background:rgba(255,255,255,0.3);
   width: 180px;
   height: 20px;
   margin-left: -90px;
   border-radius: 10px;
}
.jd-clo2-hd ol li{
   width: 12px;
   height: 12px;
   background-color:#fff;
   border-radius: 50%;
   float: left;
   margin:4px 5px; 
   cursor: pointer;
}
.jd-clo2-hd .current{
   background-color: #f10215;
}
 .jd-clo3{
    width: 190px;
    height: 480px;
    /* background-color: palegreen; */
    float: right;
 }
 .user{
    height: 115px;
    /* background-color: #f10215; */
    padding: 20px 15px 0;
 }
 .user_info{
    height: 40px;
    padding-left: 54px;
    font-size: 12px;
    line-height: 22px;
    color: #747474;
    position: relative;
 }

 .user_info a{
    font-size: 12px;
    color: #747474;
   
 }
 .info_img{
    width: 40px;
    height: 40px;
    position: absolute;
    top:0;
    left: 0;
 }
 .info_img img{
    width: 100%;
    height: auto;
 }
.user_profit{
   margin-top: 14px;
}

 .user_profit a{
   width: 70px;
   height: 20px;
   border: 2px solid #f10215;
   display: inline-block;
   color: #f10215;
   text-align: center;
   line-height: 20px;
   margin-right: 3px;
 }
 .user_profit a:hover{
   background-color: #f10215;
   color: #fff;
 }
 .news{
   height: 154px;
   background-color: blue;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}
.jd_server{
   height: 209px;
   background-color: yellow;
}